<div class="container">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
    </mat-form-field>

    <div class="container1">
        <table mat-table [dataSource]="dataSource" matSort width="100%">

            <ng-container matColumnDef="first_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let row"> {{row.first_name}} </td>
            </ng-container>

            <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
            </ng-container>

            <ng-container matColumnDef="initials">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Initials </th>
                <td mat-cell *matCellDef="let row"> {{row.initials}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/people/' + row.key]"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="2">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
    </div>
</div>
