<mat-form-field>
    <mat-label>Project No.</mat-label>
    <input matInput type="text" value={{project.project_no}} (change)="projNo($event.target.value)">
</mat-form-field>
<mat-form-field>
    <mat-label>Project Name</mat-label>
    <input matInput type="text" value={{project.project_name}} (change)="projName($event.target.value)">
</mat-form-field>
<mat-form-field>
    <mat-label>Client</mat-label>
    <input matInput type="text" value={{project.client}} (change)="client($event.target.value)">
</mat-form-field>
<mat-form-field>
    <input type="text" placeholder="PIC" matInput [(value)]="picPerson.initials" [formControl]="picControl"
        [matAutocomplete]="picAuto" (blur)="picBlur($event)">
    <mat-autocomplete #picAuto="matAutocomplete" (optionSelected)="picUpdate($event.option.value)">
        <mat-option *ngFor="let peop of picFiltered | async" [value]="peop.key">
            {{peop.first_name}} {{peop.last_name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-form-field>
    <input type="text" placeholder="PM" matInput [(value)]="pmPerson.initials" [formControl]="pmControl"
        [matAutocomplete]="pmAuto" (blur)="pmBlur($event)">
    <mat-autocomplete #pmAuto="matAutocomplete" (optionSelected)="pmUpdate($event.option.value)">
        <mat-option *ngFor="let peop of pmFiltered | async" [value]="peop.key">
            {{peop.first_name}} {{peop.last_name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-form-field>
    <input type="text" placeholder="PC" matInput [(value)]="pcPerson.initials" [formControl]="pcControl"
        [matAutocomplete]="pcAuto" (blur)="pcBlur($event)">
    <mat-autocomplete #pcAuto="matAutocomplete" (optionSelected)="pcUpdate($event.option.value)">
        <mat-option *ngFor="let peop of pcFiltered | async" [value]="peop.key">
            {{peop.first_name}} {{peop.last_name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-form-field>
    <input type="text" placeholder="HVAC" matInput [(value)]="hvacPerson.initials" [formControl]="hvacControl"
        [matAutocomplete]="hvacAuto" (blur)="hvacBlur($event)">
    <mat-autocomplete #hvacAuto="matAutocomplete" (optionSelected)="hvacUpdate($event.option.value)">
        <mat-option *ngFor="let peop of hvacFiltered | async" [value]="peop.key">
            {{peop.first_name}} {{peop.last_name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-form-field>
    <input type="text" placeholder="Elec" matInput [(value)]="elecPerson.initials" [formControl]="elecControl"
        [matAutocomplete]="elecAuto" (blur)="elecBlur($event)">
    <mat-autocomplete #elecAuto="matAutocomplete" (optionSelected)="elecUpdate($event.option.value)">
        <mat-option *ngFor="let peop of elecFiltered | async" [value]="peop.key">
            {{peop.first_name}} {{peop.last_name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-form-field>
    <input type="text" placeholder="Plmb" matInput [(value)]="plmbPerson.initials" [formControl]="plmbControl"
        [matAutocomplete]="plmbAuto" (blur)="plmbBlur($event)">
    <mat-autocomplete #plmbAuto="matAutocomplete" (optionSelected)="plmbUpdate($event.option.value)">
        <mat-option *ngFor="let peop of plmbFiltered | async" [value]="peop.key">
            {{peop.first_name}} {{peop.last_name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-form-field>
    <input type="text" placeholder="Fire" matInput [(value)]="firePerson.initials" [formControl]="fireControl"
        [matAutocomplete]="fireAuto" (blur)="fireBlur($event)">
    <mat-autocomplete #fireAuto="matAutocomplete" (optionSelected)="fireUpdate($event.option.value)">
        <mat-option *ngFor="let peop of fireFiltered | async" [value]="peop.key">
            {{peop.first_name}} {{peop.last_name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-form-field>
    <mat-label>Revit</mat-label>
    <input matInput type="text" value={{project.revit}} (change)="revit($event.target.value)">
</mat-form-field>
<mat-form-field>
    <mat-label>Spec</mat-label>
    <input matInput type="text" value={{project.spec}} (change)="spec($event.target.value)">
</mat-form-field>
<mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startpicker" (dateChange)="start($event.target.value)" [value]="startdate.value">
    <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
    <mat-datepicker #startpicker></mat-datepicker>
</mat-form-field>
<mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endpicker" (dateChange)="finish($event.target.value)" [value]="enddate.value">
    <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
    <mat-datepicker #endpicker></mat-datepicker>
</mat-form-field>
<mat-form-field>
    <mat-label>Comments</mat-label>
    <textarea matInput type="text" value={{project.comments}} (change)="comments($event.target.value)"
        style="min-width: 200px; min-height: 50px;"></textarea>
</mat-form-field>
<mat-form-field>
    <mat-label>Status</mat-label>
    <input matInput type="text" value={{project.status}} (change)="status($event.target.value)">
</mat-form-field>

<div class="container">
    <div class="box1">
        <div class="header">
            <mat-label>Deliverables</mat-label>
            <span class="fill-remaining-space"></span>
            <button mat-button (click)="addDeliverable()" style="padding: 0px; min-width: 40px;">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
        <table mat-table [dataSource]="delivdata" width="100%">
            <ng-container matColumnDef="descript">
                <th mat-header-cell *matHeaderCellDef> Description</th>
                <td mat-cell *matCellDef="let row"> {{row.deliverable.description}} </td>
            </ng-container>

            <ng-container matColumnDef="duedate">
                <th mat-header-cell *matHeaderCellDef> Due Date</th>
                <td mat-cell *matCellDef="let row"> {{row.duedate}} </td>
            </ng-container>

            <ng-container matColumnDef="ismilestone">
                <th mat-header-cell *matHeaderCellDef>Is Milestone</th>
                <td mat-cell *matCellDef="let row"> {{row.deliverable.is_milestone}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="delivColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: delivColumns;"
                [routerLink]="['/deliverable/' + row.deliverable.key]"></tr>

        </table>
    </div>
    <div class="box2">
        <div class="header">
            <mat-label>Tasks</mat-label>
            <span class="fill-remaining-space"></span>
            <button mat-button (click)="addTask()" style="padding: 0px; min-width: 40px;">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
        <table mat-table [dataSource]="taskdata" width="100%">

            <ng-container matColumnDef="descript">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let row"> {{row.task.description}} </td>
            </ng-container>

            <ng-container matColumnDef="assigned">
                <th mat-header-cell *matHeaderCellDef>Assigned</th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="estimate">
                <th mat-header-cell *matHeaderCellDef>Estimated Hours</th>
                <td mat-cell *matCellDef="let row"> {{row.task.est_hours}} </td>
            </ng-container>

            <ng-container matColumnDef="startdate">
                <th mat-header-cell *matHeaderCellDef>Start Date</th>
                <td mat-cell *matCellDef="let row"> {{row.startdate}} </td>
            </ng-container>

            <ng-container matColumnDef="enddate">
                <th mat-header-cell *matHeaderCellDef>End Date</th>
                <td mat-cell *matCellDef="let row"> {{row.enddate}} </td>
            </ng-container>

            <ng-container matColumnDef="priority">
                <th mat-header-cell *matHeaderCellDef>Priority</th>
                <td mat-cell *matCellDef="let row"> {{row.task.priority}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="taskColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: taskColumns;" [routerLink]="['/task/' + row.task.key]"></tr>

        </table>
    </div>
</div>
<div class="container1">
    <div class="box1">
        <div class="header">
            <mat-label>Notes</mat-label>
            <span class="fill-remaining-space"></span>
            <button mat-button (click)="addNote()" style="padding: 0px; min-width: 40px;">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
        <table mat-table [dataSource]="notedata" width="100%">
            <ng-container matColumnDef="thenote">
                <th mat-header-cell *matHeaderCellDef> Note</th>
                <td mat-cell *matCellDef="let row"> {{row.note.thenote}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> By</th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="createddate">
                <th mat-header-cell *matHeaderCellDef> Date</th>
                <td mat-cell *matCellDef="let row"> {{row.created}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="noteColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: noteColumns;" [routerLink]="['/note/' + row.note.key]"></tr>

        </table>
    </div>
</div>